html, body {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    color: #fdc073;
    text-decoration: none;
}

a:hover {
    color: #c00;
}
.clear {clear:both;}

ul.mainmenu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background: #3f4137;
    width: 90%;
    height: 60px;
    margin: 0;
    padding: 0;
    color: #fdc073;
    font-size: 20px;
    overflow: hidden;
}

ul.mainmenu li {
    float: left;
    margin: 18px 40px 0 50px;
}

ul.maimenu li.last {float:right;}

ul.mainmenu li a:hover {
    color: #FDA83D;
}

div.content {
    margin: 10px;
}

.form-contact label {
    display: inline-block;
    min-width: 80px;
}
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input [type-submit], textarea {
    font-size: 16px;
}
.flash {padding: 10px;}

.flash {padding: 10px;}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
}
