html, body {
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    color: #fdc073;
    text-decoration: none;
}

a:hover {
    color: #c00;
}
.clear {clear:both;}

ul.mainmenu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background: #3f4137;
    width: 90%;
    height: 60px;
    margin: 0;
    padding: 0;
    color: #fdc073;
    font-size: 20px;
    overflow: hidden;
}

ul.mainmenu li {
    float: left;
    margin: 18px 40px 0 50px;
}

ul.maimenu li.last {float:right;}

ul.mainmenu li a:hover {
    color: #FDA83D;
}

div.content {
    margin: 10px;
}

.form-contact label {
    display: inline-block;
    min-width: 80px;
}
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input [type-submit], textarea {
    font-size: 16px;
}
.form-contact .invalid {
    background: #FF9898;
}
.form-contact .invalid-feedback {
    color: #CC0000
}
.flash {padding: 10px;}

.flash {padding: 10px;}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
}

ul.list-posts {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 600px;
}
ul.list-post li {
    margin: 20px 0 0 0;
    border: 1px solid #eee;
}
ul.list-posts .title {
    margin: 0;
    padding: 5px;
    background: #eee;
}
ul.list-posts .annonce {
    margin: 0;
    padding: 10px 5px 10px 5px;
}

.profile-ava {
    width: 130px;
    text-align: center;
    overflow: hidden;
    background: #eee;
    padding: 10px;
}
.profile-ava img {max-width: 150px; height: auto;}

.profile-load {
    margin-top: 10px;
    overflow: hidden;
    max-width: 150px;
}
.profile-load input[type=submit], input[type=file] {
    width: 100%;
    font-size: 18px;
}

.profile-load p {
    padding: 0;
    margin: 5px 0 0 0;
}

.profile-panel {padding: 0 0 0 10px;}
ul.profile-info {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    color: #7E652F;
}
ul.profile-info li {margin-top: 10px;}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Файл не выбран';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
