<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />

{% block title -%}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Про Flask</title>
    {% endif %}
{% endblock %}
</head>
<body>
    {% block content -%}
        {%- block mainmenu -%}
            <ul class='mainmenu'>
                {% for p in menu -%}
                <li><a href="{{p.url}}">{{p.title}}</a></li>
<!--                для варианта с файлом flsite-->
<!--                     <li><a href="{{p.url}}">{{p.name}}</a></li>-->
<!--                для варианта с файлом main-->

                {% endfor -%}
            </ul>
        {% endblock mainmenu -%}
        <div class='clear'></div>
        <div class='content'>
        {% if title %}
            <h1>{{ title }}</h1>
        {% else %}
            <h1>Title не передан</h1>
        {% endif %}
<!--       <p>{{menu[0].model}}</p>-->
    {% endblock -%}
    </div>
</body>
</html>