{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/login" method="post" class="form-contact">
{{ form.hidden_tag() }} <!--    метод hidden_tag создает скрытое поле содержащее токен используемый
    для защиты от csrf атак-->


{% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
    <p>{{ field.label() }}
    {% if field.errors %}
       {{ field(class='invalid') }}
        <span class="invalid-feedback">
            {% for e in field.errors %}
                {{ e }}
            {% endfor %}
        </span>
    {% else %}
        {{ field() }}
    {% endif %}
{% endfor %}


<!--    &lt;!&ndash;    <p>{{ form.email.label() }} {{ form.email() }}&ndash;&gt;-->
<!--<p>{{ form.email.label() }}-->
<!--{% if form.email.errors %}-->
<!--   {{ form.email(class='invalid') }}-->
<!--    <span class="invalid-feedback">-->
<!--        {% for e in form.email.errors %}-->
<!--            {{ e }}-->
<!--        {% endfor %}-->
<!--    </span>-->
<!--{% else %}-->
<!--    {{ form.email() }}-->
<!--{% endif %}-->

<!--&lt;!&ndash;    <p>{{ form.psw.label() }} {{ form.psw() }}&ndash;&gt;-->
<!--<p>{{ form.psw.label() }}-->
<!--{% if form.psw.errors %}-->
<!--    {{ form.psw(class='invalid') }}-->
<!--    <span class="invalid-feedback">-->
<!--        {% for e in form.psw.errors %}-->
<!--            {{ e }}-->
<!--        {% endfor %}-->
<!--    </span>-->
<!--{% else %}-->
<!--    {{ form.psw() }}-->
<!--{% endif %}-->


    <p>{{ form.remember.label() }} {{ form.remember() }}
    <p>{{ form.submit() }}

    <!--    <p><label>Email: </label> <input type="text" name="email" value="" required />-->
    <!--    <p><label>Пароль: </label> <input type="password" name="psw" value="" required />-->
    <!--    <p><input type="checkbox" name="remainme" /> Запомнить меня-->
    <!--    <p><input type="submit" value="Войти" />-->
    <hr align=left width="300px">
    <p><a href="{{url_for('register')}}">Регистрация</a></p>
</form>
{% endblock %}